<a href="https://colab.research.google.com/github/KENOFY/Python-01/blob/python-basic-01/Copy_of_Python01_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Learn code - Pandas

Section Highlight 1, row first then column

Section Highlight 2, add columns name

In [ ]:
import pandas

# Section 01 - Basic Panda Code

In [ ]:
df1 = pandas.DataFrame([[1,2,3],[1,3,5],[2,4,6]])
df1

   0  1  2
0  1  2  3
1  1  3  5
2  2  4  6

In [ ]:
df1 = pandas.DataFrame([[1,2,3],[1,3,5],[2,4,6]], columns=["A","B","C"])
df1

   A  B  C
0  1  2  3
1  1  3  5
2  2  4  6

Add index is possible, but i think this is useless

In [ ]:
df2 = pandas.DataFrame ([{'Name1':'A','Name2':'B'},{'Name1':'C'}])
df2

  Name1 Name2
0     A     B
1     C   NaN

In [ ]:
type(df1)

pandas.core.frame.DataFrame

In [ ]:
df1.mean()

A    1.333333
B    3.000000
C    4.666667
dtype: float64

In [ ]:
df1.A

0    1
1    1
2    2
Name: A, dtype: int64

In [ ]:
df1.A.mean()

1.3333333333333333

# Section 02 - Basic Panda Load